{% extends "base.html" %}
{% block title %}Registered Users{% endblock %}
{% block content %}
<h2>All Registered Users</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Registered At</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.created_at.strftime('%d %b %Y, %H:%M') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
